{% extends "ca/base_generic.html" %}

{% block title %}Fill in PKCS10{% endblock %}

{% block pre-scripts %}
    {% load static %}
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
{%  endblock %}

{% block content %}
<h2>{{ ca.subject_text }}</h2>

<form action="{% url 'ca:certify_p10' ca.id %}" method="post">
{% csrf_token %}
    <label for="p10">Copy/Past your PKCS10</label><br>
    <textarea id="p10" name="p10" cols="66" rows="20"></textarea>
    <br>
    <input type="submit" value="Certify">
</form>
<p>
    If the Firefox extension is installed, you press the button 'Create Signing Key' to generate the PKCS10 request.<br>
    <label for="p10_dname">PKCS10 DName</label><input id="p10_dname" type="text" size="50" value="cn=John Doe Singing,o=Company,c=US"><br>
    <button id="create_signing_key" type="button">Create Signing Key</button>
</p>
{% endblock %}

{% block post-scripts %}
<script>
    function generateId(length) {
        var result           = '';
        var characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for ( var i = 0; i < length; i++ ) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        return result;
    }

    function create_csr( subjectName, bitLength, callback) {
        requestId = generateId(10);
        window.postMessage({
            direction: "from-page-script",
            message: {
                request_id:requestId,
                request:"create_csr",
                subject_name: subjectName,
                rsa_key_length: bitLength
            }
        }, "*")
        window.addEventListener("message", callback, false);
    }

    function import_certificate( base64_pem_certificate, callback) {
        requestId = generateId(10);
        window.postMessage({
            direction: "from-page-script",
            message: {
                request_id:requestId,
                request:"import_certificate",
                certificate: base64_pem_certificate
            }
        }, "*")
        window.addEventListener("message", callback, false);
    }

    function import_pfx_key( base64_pkcs12, passwd, callback) {
        requestId = generateId(10);
        window.postMessage({
            direction: "from-page-script",
            message: {
                request_id:requestId,
                request:"import_pfx_key",
                pkcs12: base64_pkcs12,
                password: passwd
            }
        }, "*")
        window.addEventListener("message", callback, false);
    }

    function export_pfx_key( issuer_dname, serial_nr, passwd, callback) {
        requestId = generateId(10);
        window.postMessage({
            direction: "from-page-script",
            message: {
                request_id:requestId,
                request:"export_pfx_key",
                issuer: issuer_dname,
                serial_number: serial_nr,
                password: passwd
            }
        }, "*")
        window.addEventListener("message", callback, false);
    }

    function receiveMessage(event) {
        if (event.source == window &&
            event.data &&
            event.data.direction == "from-content-script") {
            var response = event.data.message
            $( "#p10").val(atob(response.response))
        }
    }
    $( "#create_signing_key" ).click(function() {
        var dname = $("#p10_dname"). val()

        create_csr(dname, 2048, receiveMessage)
    });
</script>
{% endblock %}